/* Colores base */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #3399FF;
}

/* Sección principal */
.presentacion {
    text-align: center;
    padding: 4rem 2rem;
}

.presentacion h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.presentacion p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 2rem;
}

/* Botón */
.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #111;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 3rem;
}

.banner-musica img {
    display: block;
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #007BFFaa;
}

.reproductor {
    text-align: center;
    margin: 2rem 0;
}

.reproductor h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.artistas {
    max-width: 900px;
    margin: 3rem auto;
    padding: 0 2rem;
    text-align: center;
}

.artistas h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.artistas-lista {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.artista {
    width: 150px;
    font-weight: bold;
    color: #fff;
}

.artista img {
    width: 160px;       /* ancho fijo */
    height: 160px;      /* alto fijo para que todas tengan el mismo tamaño */
    object-fit: cover;  /* recorta la imagen para que encaje sin deformar */
    border-radius: 8px;
    box-shadow: 0 0 10px #3399FFaa;
    transition: transform 0.3s;
}

